<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>打回理由</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/wechat/css/font.css">
    <link rel="stylesheet" href="../../static/wechat/css/xadmin.css">
    <link href="../../static/wechat/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/wechat/js/js1.js"></script>
    <script type="text/javascript" src="../../static/wechat/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/wechat/js/xadmin.js"></script>
    <script src="../static/js/js2.js"></script>
    <script src="../static/js/js3.js"></script>
    <script>
        function success(){
            if(back_reason.value != "")
            alert("操作成功！")
        }
    </script>
</head>

<body>
    <div class="formbody">
        <a href="../interview_list/"><button class="layui-btn" >返回</button></a>
    <div class="formtitle"><span>打回理由（带*为必填）</span></div>

    <form action="#" method="post">
        <ul class="forminfo">
            <li><label>申请编号</label><input name="ia_number" value="{{ ia_number }}" type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>校外岗位编号</label><input name="ow_number" value="{{ ow_number }}" type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>打回理由</label><textarea name="back_reason" cols="" rows="" class="textinput" required>{{ back_reason }}</textarea><i>默认为“None”,修改后,请先保存,再发送</i></li>
            <li><label>&nbsp</label><input name="保存" onclick="success()" type="submit" class="btn" value="保存"/><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><a href="../outWork_reject_result_send/?submit_num={{ ow_number }}"><input name="" type="button" class="btn" value="发送"/></a></li>
            <!--提交按钮绑定另一接口-->
        </ul>
    </form>


</div>

</body>

</html>