<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>报名学生信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/wechat/css/font.css">
    <link rel="stylesheet" href="../../static/wechat/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/wechat/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/wechat/js/xadmin.js"></script>
      <script type="text/javascript" src="../../static/wechat/js/jquery-3.4.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
{% load static %}
    <script type="text/javascript" src="{% static 'jQuery/jQuery-3.4.1.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post" action="../management_inwork_search_stu/">
            {% csrf_token %}
            <input type="text" name="s_stu_id"  placeholder="请输入学号" autocomplete="off" class="layui-input">
            <input type="text" name="s_sex"  placeholder="请输入性别" autocomplete="off" class="layui-input">
            <input type="text" name="s_grade"  placeholder="请输入年级" autocomplete="off" class="layui-input">
            <input type="text" name="s_major"  placeholder="请输入专业" autocomplete="off" class="layui-input">
            <input type="text" name="s_pov_identity"  placeholder="请输入贫困资质" autocomplete="off" class="layui-input">
          <button class="layui-btn" type="submit"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <a href="../inworking_list/"><button class="layui-btn" ><i class="layui-icon"></i>返回</button></a>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>手机号</th>
            <th>年级</th>
            <th>学校</th>
            <th>专业</th>
            <th>贫困资质</th>
            <th>邮箱</th>
            <th>是否确认</th>
        </thead>
        <tbody>
        {% for line in inwork_stu_list %}
        <tr>
            <td>{{ line.stu_id }}</td>
            <td>{{ line.name }}</td>
            <td>{{ line.age }}</td>
            <td>{{ line.sex }}</td>
            <td>{{ line.phonenumber }}</td>
            <td>{{ line.grade }}</td>
            <td>{{ line.school }}</td>
            <td>{{ line.major }}</td>
            <td>{{ line.pov_identity }}</td>
            <td>{{ line.e_mail }}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ line.s_sure }}</span></td>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

  </body>

</html>