<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>校内兼职列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/wechat/css/font.css">
    <link rel="stylesheet" href="../../static/wechat/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/wechat/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/wechat/js/xadmin.js"></script>
      <script type="text/javascript" src="../../static/wechat/js/jquery-3.4.1.min.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
{% load static %}
    <script type="text/javascript" src="{% static 'jQuery/jQuery-3.4.1.js' %}"></script>
    <![endif]-->
      <script>
        function success(){
            alert("删除成功！")
        }
    </script>
  </head>
  
  <body>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post" action="../management_inwork_search/">
            {% csrf_token %}
            <input type="text" name="s_iw_number"  placeholder="请输入岗位编号" autocomplete="off" class="layui-input">
            <input type="text" name="s_iw_post"  placeholder="请输入岗位名称" autocomplete="off" class="layui-input">
            <input type="text" name="s_iw_depart"  placeholder="请输入用人部门" autocomplete="off" class="layui-input">
            <input type="text" name="s_w_time"  placeholder="请输入工作时间" autocomplete="off" class="layui-input">
            <input type="text" name="s_w_place"  placeholder="请输入工作地点" autocomplete="off" class="layui-input">
            <input type="text" name="s_work"  placeholder="请输入工作内容" autocomplete="off" class="layui-input">
            <input type="text" name="s_w_salary"  placeholder="请输入薪酬" autocomplete="off" class="layui-input">
            <input type="text" name="s_w_reuire"  placeholder="请输入招聘要求" autocomplete="off" class="layui-input">
            <input type="text" name="s_In_status"  placeholder="请输入岗位状态" autocomplete="off" class="layui-input">
            <!--<input type="datetime-local" class="layui-input" placeholder="报名截止时间" name="s_ddl_time" id="start">
            <input type="datetime-local" class="layui-input" placeholder="信息发布时间" name="s_inpub_time" id="end">-->
          <button class="layui-btn" type="submit" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加岗位','../inwork_add',800,600)"><i class="layui-icon"></i>添加</button></a>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>岗位编号</th>
            <th>岗位名称</th>
            <th>用人部门</th>
            <th>工作时间</th>
            <th>工作地点</th>
            <th>工作内容</th>
            <th>薪酬</th>
            <th>招聘要求</th>
            <th>招聘人数</th>
            <th>报名截止时间</th>
            <th>信息发布时间</th>
            <th>备注</th>
            <th>岗位状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
        {% for line in inwork_list %}
        <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <form name="iw_number"><td>{{ line.iw_number }}</td></form><!--method="post" action="../management_inWork_reset_show/"-->
            <td>{{ line.iw_post }}</td>
            <td>{{ line.iw_depart }}</td>
            <td>{{ line.w_time }}</td>
            <td>{{ line.w_place }}</td>
            <td>{{ line.work }}</td>
            <td>{{ line.w_salary }}</td>
            <td>{{ line.w_reuire }}</td>
            <td>{{ line.w_amount }}</td>
            <td>{{ line.ddl_time }}</td>
            <td>{{ line.inpub_time }}</td>
            <td>{{ line.w_ps }}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ line.In_status }}</span></td>
            <td class="td-manage">
              <a  href="../management_inWork_stop/?stop_num={{ line.iw_number }}"  title="中止">
                <i class="iconfont">&#xe6ce;</i>
              </a>
              <a  href="../management_inWork_begin/?begin_num={{ line.iw_number }}"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a id="bianji_button" title="编辑" href="../management_inWork_reset_show/?re_num={{ line.iw_number }}">
                <i class="layui-icon">&#xe642;</i>
              </a>

              <a title="删除" onclick="success()" href="../management_inWork_delete/?delete_num={{ line.iw_number }}" >
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>