<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>面试信息通知</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/wechat/css/font.css">
    <link rel="stylesheet" href="../../static/wechat/css/xadmin.css">
    <link href="../../static/wechat/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/wechat/js/js1.js"></script>
    <script type="text/javascript" src="../../static/wechat/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/wechat/js/xadmin.js"></script>
    <script src="../static/js/js2.js"></script>
    <script src="../static/js/js3.js"></script>
    <script>
        function success(){
            if(in_time.value != ""&& i_address.value != "")
            alert("操作成功！")
        }
    </script>
</head>

<body>
    <div class="formbody">
        <a href="../interview_list/"><button class="layui-btn" >返回</button></a>
    <div class="formtitle"><span>面试信息通知（带*为必填）</span></div>

     <form action="../interview_notice_send_save/" method="post">
        <ul class="forminfo">
            <li><label>面试编号</label><input name="i_number" value="{{ i_number }}" type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>申请编号</label><input id="ia_number" name="ia_number" value="{{ ia_number }}" type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>面试公司</label><input id="i_com" name="i_com" value="{{ i_com }}"type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>面试人数</label><input id="i_num" name="i_num" value="{{ i_num }}"type="text" class="dfinput" readonly/><i>*</i></li>
            <li><label>面试时间</label><input id="in_time" name="in_time" value="{{ in_time }}"type="text" class="dfinput" required/><i>*默认为企业申请的面试时间，可修改</i></li>
            <li><label>面试地点</label><input id="i_address" name="i_address" value="{{ i_address }}" type="text" class="dfinput" required/><i>*默认为None，修改后请保存，再发送</i></li>
            <li><label>&nbsp</label><input name="保存" onclick="success()" type="submit" class="btn" value="保存"/><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><a href="../interview_notice_send_send/?send_num={{ i_number }}"><input name="" type="button" class="btn" value="发送"/></a></li>

        </ul>
    </form>


</div>

</body>

</html>