<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>注册</title>
    <link rel="stylesheet" href="../../static/wechat/css/pintuer.css">
    <link rel="stylesheet" href="../../static/wechat/css/admin.css">
    <script src="../static/wechat/js/jquery_login.js"></script>
    <script src="../static/wechat/js/pintuer.js"></script>

    <script>
        function check2pwd(){
            if (( pwd1.value != pwd2.value) && pwd1.value!=""){
                alert("两次输入密码不一致")
                pwd1.value=""
                pwd2.value=""
            }
        }
    </script>
    <script>
        function checkphone(){
            if(!(/^1[345789]\d{9}$/.test(phone.value)) && phone.value != ""){
                alert("请输入合法有效的手机号！")
                phone.value=""
                return false
            }
        }
    </script>

    <script>
        function checkgh(){
            if(gh.value.length<8 && gh.value != ""){
                alert("工号位数不正确，请检查！");
                gh.value=""
                return false;
            }
        }
    </script>
    <script>
        function checkpwd() {
            if(!(/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$]{6,16}$/.test(pwd1.value)) && pwd1.value != ""){
                alert("密码长度须在6-16之间，必须包含数字与字母，可以包含或不包含特殊符号！");
                pwd1.value=""
                return false
            }
        }
    </script>

</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <!--<div style="height:20px;"></div>-->
            <div class="media media-y margin-big-bottom">
            </div>
            <form action="../management_inwork_register/" method="post">
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>注册</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" id="gh" onblur="checkgh()" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="8" class="input input-big" name="manager_id" placeholder="工号" data-validate="required:请输入工号" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" id="name0" class="input input-big" name="name" placeholder="姓名" data-validate="required:请输入姓名" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" id="phone" onblur="checkphone()" class="input input-big" maxlength="11" name="phonenumber" placeholder="手机号" data-validate="required:请输入手机号" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" maxlength="16" id="pwd1" name="password" onblur="checkpwd()" placeholder="密码" data-validate="required:请填写密码" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" id="pwd2" name="password" onblur="check2pwd()" placeholder="请确认密码" data-validate="required:请填写密码" required/>
                        </div>
                    </div>

                    </div>
                </div>
                <div style="padding:30px;"><input  type="submit" class="button button-block bg-main text-big input-big" value="注册"></div>
                <div style="padding-left: 150px;"><a href="../login/">已有账号，去登录</a></div>
                <span style="color: red">{{ error_msg }}</span>
                <!--显示注册成功??????-->

            </form>
        </div>
    </div>
</div>

</body>
</html>
