<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生简历</title>
</head>
<body bgcolor="#f5f5f5">
<table border="1" align="center" cellpadding="10" width="800">
<tr>
    <th colspan="7" bgcolor="#d3d3d3" >学生简历</th>
</tr>

<tr>
    <th bgcolor="#d3d3d3">姓名:</th>
    <td>{{ name }}</td>
    <th bgcolor="#d3d3d3">年龄:</th>
    <td>{{ age }}</td>
    <th bgcolor="#d3d3d3">性别:</th>
    <td>{{ sex }}</td>

</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3">技能自评</th>
     <td colspan="5">
   <p>{{ res_asses }}</p>
    </td>
</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3"> 教育经历:</th>
     <td colspan="5">
    <p>{{ res_edu }}</p>
</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3">工作经历:</th>
     <td colspan="5">
    <p>{{ res_work }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3">项目经历:</th>
     <td colspan="5">
    <p>{{ res_proj }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3">课外实践:</th>
     <td colspan="5">
    <p>{{ res_extra }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#d3d3d3">个人作品:</th>
     <td colspan="5">
    <p>{{ res_per }}</p>
     </td>
</tr>

</table>

</body>
</html>