<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生简历</title>
</head>

<body bgcolor="#FFFFFF">
        <a href="../stu_manage_list/">返回上一级</a>

<table border="1" align="center" cellpadding="10" width="800">
<tr>
    <th colspan="7" bgcolor="#EEEEEE" >学生简历</th>
</tr>

<tr>
    <th bgcolor="#EEEEEE">姓名:</th>
    <td>{{ resume.name }}</td>
    <th bgcolor="#EEEEEE">年龄:</th>
    <td>{{ resume.age }}</td>
    <th bgcolor="#EEEEEE">性别:</th>
    <td>{{ resume.sex }}</td>

</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE">技能自评</th>
     <td colspan="5">
   <p>{{ resume.res_asses }}</p>
    </td>
</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE"> 教育经历:</th>
     <td colspan="5">
    <p>{{ resume.res_edu }}</p>
</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE">工作经历:</th>
     <td colspan="5">
    <p>{{ resume.res_work }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE">项目经历:</th>
     <td colspan="5">
    <p>{{ resume.res_proj }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE">课外实践:</th>
     <td colspan="5">
    <p>{{ resume.res_extra }}</p>
     </td>
</tr>

<tr>
     <th height="120" bgcolor="#EEEEEE">个人作品:</th>
     <td colspan="5">
    <p>{{ resume.res_per }}</p>
     </td>
</tr>

</table>

</body>
</html>