<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>学生工作经历</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/wechat/css/font.css">
    <link rel="stylesheet" href="../../static/wechat/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/wechat/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/wechat/js/xadmin.js"></script>
      <script type="text/javascript" src="../../static/wechat/js/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
{% load static %}
    <script type="text/javascript" src="{% static 'jQuery/jQuery-3.4.1.js' %}"></script>

  </head>

  <body>
    <div class="x-body">
        <a href="../stu_manage_list/">返回上一级</a>
        <xblock>
            <button class="layui-btn">校内兼职</button></a>
        </xblock>

      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>岗位编号</th>
            <th>岗位</th>
            <th>用人部门</th>
            <th>工作内容</th>
            <th>入职时间</th>
            <th>结束时间</th>
            <th>录取状态</th>
            <th>工作状态</th>
          </tr>
        </thead>
        <tbody>
        {% for li in stu_inwork %}
        <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ li.iw_number }}</td>
            <td>{{ li.iw_post }}</td>
            <td>{{ li.iw_depart }}</td>
            <td>{{ li.work }}</td>
            <td>{{ li.begin_time }}</td>
            <td>{{ li.end_time }}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ li.apply_status }}</span></td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ li.In_status }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="x-body">
        <xblock>
            <button class="layui-btn" >校外兼职</button></a>
        </xblock>

      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>岗位编号</th>
            <th>岗位</th>
            <th>企业名称</th>
            <th>工作内容</th>
            <th>应聘理由</th>
            <th>入职时间</th>
            <th>结束时间</th>
            <th>录取状态</th>
            <th>工作状态</th>
          </tr>
        </thead>
        <tbody>
        {% for li in stu_outwork %}
        <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ li.ow_number }}</td>
            <td>{{ li.ow_post }}</td>
            <td>{{ li.com_name }}</td>
            <td>{{ li.work }}</td>
            <td>{{ li.reason }}</td>
            <td>{{ li.begin_time }}</td>
            <td>{{ li.end_time }}</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ li.apply_status }}</span></td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">{{ li.ow_status }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>



  </body>

</html>