<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>成功</title>
    <link rel="stylesheet" href="../../static/wechat/css/pintuer.css">
    <link rel="stylesheet" href="../../static/wechat/css/admin.css">
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:250px;"></div>
            <div style="width:400px;height:250px;background:white;position:relative;">
                <p style="font-size: 25px; text-align: center; padding-top: 70px" > 修改密码成功！</P>
                <div style="padding:20px;"><a href="login.html"><input type="button" onclick="login.html" class="button button-block bg-main text-big input-big" value="点击登录"></a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
