<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://49.235.199.231:8002'
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            for(i=0;i<data.message.length;i++){
                document.querySelector('#chat-log').value += (data.message[i]["content"] + '\n');
            }

        };

        chatSocket.onopen = function (e){
            console.log("添加连接");
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatSocket.onerror = function(e){
            console.log("error");
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            var message = {};

            message["from"] = 'test01';
            message["to"] = 'test01';
            message["time"] = Date.now();
            message["content"] = messageInputDom.value;
            message["isread"] = 1;

            chatSocket.send(JSON.stringify({
                message: message
            }));
            console.log(message);
            document.querySelector('#chat-log').value += (message["content"] + '\n');
            messageInputDom.value = '';
        };
    </script>
</body>
</html>